<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>Editing Group</h1>
    
      <%= form_with model: @group do |f| %>
        <p>グループ名</p>
        <%= f.text_field :name, class: 'form-control' %>
        <p>紹介文</p>
        <%= f.text_area :introduction, class: 'form-control' %>
        <p>グループ画像</p>
        <%= f.file_field :image, accept: "image/*" %><br>
        <%= f.submit "Update Group", class: "mt-3 btn btn-info"  %>
      <% end %>
    </div>
  </div>
</div>
